nav {
  text-align:left;
  float:right;
  display:block;
  font-weight:500;
  color:#333;
  padding-top:5px;
  a {
    text-align: left;
    margin-right:20px;
    font-weight:600;
    font-size:1.1em;
  }
}

.align-right {
  float:right;
}
.masthead {
  // border-bottom:1px solid #EEEEEE;
  margin:0 auto;
  height:50px;
  margin-top:15px;
  font-size: 17px;

  @include mobile {
    text-align: center;
  }
  span {
    float:left;
    font-weight:700;
    padding:10px 0;
    display:block;
  }
  .logo-title {
    // color: #183D4E;
    padding-left:30px;
  }
  .logo-description {
    font-weight:500;
  }
}

p {
  // padding-top:5px;
  font-size:123px;
  a {
    border-bottom:1px solid #dbdbdb;
    font-size:1em;
    &:hover {
      padding-bottom:0px;
      border-bottom:1px solid #dbdbdb;
      color: #666666;
    }
  }
}

.large-type {
  font-size:1.3em;
  line-height:1.5em;
}

.description {
  width: 570px;
  padding: 30px 0 30px 0;
  line-height: 1.5em;
  clear: both;
}
.description-wrapper {
  margin:20px 0 0 0;
  img {
    padding:0 0 20px 0;
  }
}

.home {
  padding:30px 0 0 0;
  width:100%;
}

.project p {
  padding-bottom:20px;
}

.nav-wrap {
  position:relative;
  height:80px;
  max-width:1240px;
  padding-top: 30px;
  margin:0 auto;
}
.occupation {
font-weight:300;
}

.footer {
  width: 100%;
  clear:both;
  padding:20px 0;
}
/* These are the classes that are going to be applied: */
.column { float: left; }
.column-right { float: right;}
.size-1of4 { width: 25%; }
.size-1of5 { width: 20%; }

.col-full {
  width:100%;
}
.col-xlarge {
  width:75%;
}
.col-large {
  width:66%;
}
.col-med {
  width:50%;
}
.col-small {
  width:33%;
}
.col-xsmall {
  width:25%;
}

a.logo {
  position: relative;
  width: 50px;
  display: block;
}
.name-wrap {
  float:left;
  padding:10px;
}
.column p {
    .name {
      margin:0 0 0 20px;
      font-weight:700;
      display:block;
    }
    .occupation {
      margin:0 0 0 20px;
    }
}
.intro {
  // height:160px;
}
.intro-text {
  padding-bottom: 200px;
}

.catbloc:not(:target) {
    display: none;
}


#grid[data-columns]::before, #grid-archive[data-columns]::before {
    display: block;
    visibility: hidden;
    position: absolute;
    font-size: 1px;
}
#grid {
    clear: both;
}
.grid-sizer,
.item {
  width:31%;
}
.item--width2 {
  width:66%;
}
.gutter-sizer { width: 3%; }

// MEDIA QUERIES
@media screen and (min-width: 1441px) {
  #wrapper, .nav-wrap, .footer {
    max-width: 1240px; /* 960 px */
    margin: 0 auto;
  }
  // #grid .item:nth-of-type(4n+1){
  //   padding-right:20px;
  // }
  // #grid .item:nth-of-type(4n+2){
  //   padding-right:20px;
  // }
  #grid-archive img {
    // width:100%;
    text-align:center;
    padding-right:8px;
  }
  a.logo {
    // position: absolute;
    // padding:35px 0 0 0;
    float:left;
  }
  .home .column {
    margin-left:0;
  }
  // #grid[data-columns]::before {
  //   content: '5 .column.size-1of5';
  // }
  // #grid-archive[data-columns]::before {
  //   content: '3 .column.size-1of3';
  // }
}
@media screen and (min-width: 1300px) and (max-width:1440px ){
  #wrapper, .nav-wrap, .footer {
    max-width: 1240px; /* 960 px */
    margin: 0 auto;
  }
  // #grid .item:nth-of-type(4n+1){
  //   padding-right:20px;
  // }
  // #grid .item:nth-of-type(4n+2){
  //   padding-right:20px;
  // }
  #grid-archive img {
    // width:100%;
    text-align:center;
    padding-right:8px;
  }
  // #grid[data-columns]::before {
  //   content: '4 .column.size-1of4';
  // }
  // #grid-archive[data-columns]::before {
  //   content: '2 .column.size-1of2';
  // }
  a.logo {
    // position: absolute;
    // padding:35px 0 0 0;
    float:left;
  }
  .home .column {
    margin-left:0;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1299px) {
  #wrapper, .nav-wrap, .footer {
    max-width: 1120px; /* 960 px */
    margin: 0 auto;
  }
  // #grid .item:nth-of-type(4n+1){
  //   padding-right:20px;
  // }
  // #grid .item:nth-of-type(4n+2){
  //   padding-right:20px;
  // }
  a.logo {
    // position: absolute;
    // padding:25px 0 0 0;
    float:left;
  }
  .home .column {
    // margin-left:80px;
  }
  // #grid[data-columns]::before {
  //   content: '3 .column.size-1of3';
  // }
  // #grid-archive[data-columns]::before {
  //   content: '2 .column.size-1of2';
  // }
}

@media screen and (min-width: 1008px) and (max-width: 1199px) {
  #wrapper, .nav-wrap, .footer {
    max-width: 55em; /* 960 px */
    margin: 0 auto;
  }
  // #grid[data-columns]::before {
  //   content: '3 .column.size-1of3';
  // }
  // #grid-archive[data-columns]::before {
  //   content: '2 .column.size-1of2';
  // }
  // #grid .item:nth-of-type(3n+1){
  //   padding-right:20px;
  // }
  // #grid .item:nth-of-type(3n+2){
  //   padding-right:20px;
  // }
  a.logo {
    // position: absolute;
    // padding:35px 0 0 0;
    float:left;
  }
  .item, .grid-sizer {
    width:47%;
  }
  .home .column {
    font-weight:100;
  }
  .intro {
    width:100%;
    p {
      max-width:550px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1008px) {
  .grid-sizer,
  .item {
    width:47%;
  }
    #wrapper, .nav-wrap, .footer {
      max-width: 45em; /* 960 px */
      margin: 0 auto;
      .col-large, .col-med, .col-small, .col-xsmall {
        width:100%;
        float:none;
      }
    }
  	// #grid[data-columns]::before {
  	// 	content: '2 .column.size-1of2';
  	// }
    // #grid-archive[data-columns]::before {
    //   content: '2 .column.size-1of2';
    // }
    // #grid .item:nth-of-type(odd){
    //   padding-right:20px;
    // }

  .intro {
  clear: both;
  float: left;
  padding-bottom: 40px;
    p {
    max-width: 550px;
    }
  }
    .job-role {
        display:none;
    }
    nav {

    }
    a.logo {
      // position: absolute;
      // padding:30px 0 0 0;
      float:left;
    }
    .description {
      width:100%;
    }
    .home {
      height:auto;
      .column {
        margin-left:0px;
        span {
          margin-left:72px;
        }
        p {
          padding-top:4px;

        }
      }
    }
}
@media screen and (max-width: 767px){
  .grid-sizer,
  .item {
    width:100%;
  }
  #wrapper, .nav-wrap, .footer {
    width:100%;
    max-width:100%;
    margin: 0 auto;
    padding: 0 25px;
  }
  #grid {
    width:100%;
  }
	// #grid[data-columns]::before {
	// 	content: '1 .column.size-1of1';
  // }
  // #grid-archive[data-columns]::before {
  //   content: '1 .column.size-1of1';
  // }
  img {
    width:100%;
  }
  .col-large, .col-med, .col-small, .col-xsmall {
    width:100%;
    float:none;
  }
  .intro {
    line-height:1.5em;
    float: left;
    padding-top: 15px;
    height:auto;
  }
  .job-role {
      display:none;
  }
  nav {
    position: absolute;
    top: 45px;
    left:90px;
    font-weight:400;
    margin-top:0;
    a {
      margin-right:6px;
      font-weight:400;
    }
  }
  a.logo {
    position: absolute;
    padding:20px 0 0 0;
  }
  .description {
    width:100%;
  }
  .occupation {
    display: none;
  }
  .name {
  position: absolute;
  top: 18px;
  left: 70px;
  }
  .home {
    height:auto;
    padding:0;
    .column {
      margin-left:0px;
      span {
        margin-left:72px;
      }
      p {
        padding-top:4px;
      }
    }
  }
}

/* Again, you’re free to use and define the classes: */
.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }
